@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.card{
    margin: 30px auto;
}
.card a {
    text-decoration: none;
    color: dimgrey;
}
.card img {
    width: 350px;
    object-fit: cover;
    margin-right: 20px;
}
.nav {
    display: flex;
    padding: 10px;
    align-items: center;
    color: #4CAF50;
    font-family : 'Montserrat';
}
.nav>a {
    margin-right: 10px;
    text-decoration : none;
    font-weight : 400;
    letter-spacing : -0.5px;
    color: #04AA6D;
}
.nav .logo {
    font-weight : 800;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table tr td  {
    border: 1px solid #ddd;
    padding: 8px;
}
.table tbody tr:nth-child(even) {background-color: #f2f2f2;}
.table tbody tr:hover { background-color: #ddd}

.table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.table td {
    width: 250px;
    text-align: center;
}

#title, #price {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#submit:hover {
    background-color: #45a049;
}

.formWrap {
    margin: 0 auto;
    width: 500px;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 20px;
}

.detail {
    text-align : center;
}
.detail img{
    max-width : 30%;
    display : block;
    margin : auto;
}
.back{
    text-decoration: none;
    color: darkgray;
    font-size: 24px;
    font-family: "Comic Sans MS";

}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
    font-size: 56px;
    font-weight: bold;
    color: gainsboro;
}

.member-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    visibility: hidden;
}

.member input {
    width: 550px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #45a049;
    font-size: 26px;
}

.member input:focus {
    outline: none;
}

#join {
    width: 550px;
    padding: 10px;
    background: #45a049;
}

.show {
    visibility: visible;
}

.loginForm input{
    padding: 10px;
    width: 300px;
    margin-bottom: 5px;
}

.login-btn{
    padding: 10px;
    background: black;
    border-radius: 5px;
    border: none;
    color: white;
}

.login-btn:hover{
    background: #04AA6D;
    transform: scale(95%);
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list a{
    color: #45a049;
    list-style: none;
    text-decoration: none;
}

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paging a {
    color: #04AA6D;
    text-decoration: none;
    padding: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.comment_content{
    display: flex;
    gap: 20px;
}

.icon{
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

