<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div class="member-container">
        <div class="member show">
            <label for="username"></label>
            <input id="username" name="username" placeholder="아이디 입력하세요." />
        </div>
        <div class="member">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="비밀번호 입력하세요." />
        </div>
        <div class="member">
            <button id="join">회원가입</button>
        </div>

    </div>

    <script>
        let memberList = document.querySelectorAll('.member');

        for(let i=0; i<memberList.length; i++){
            memberList[i].addEventListener("change", function(){
                memberList[i+1].classList.add('show');
            })
        }

        document.querySelector('#join').addEventListener('click', ()=>{
            save();
        });

        function save() {
            let data = {
                username : document.querySelector('#username').value,
                password : document.querySelector('#password').value

            }

            // console.log(data);

            fetch('/insert', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            })
                .then((res) => res.text())
                .then((result) => {
                    alert('회원가입이 완료되었어요.');
                    window.location.href='http://localhost:8080/user';
                });
        }


    </script>
</body>
</html>