<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<div th:if="${param.error}">
    <h4>로그인 먼저 하셈.</h4>
</div>
<div sec:authorize="hasAuthority('일반유저')">
    <h4 th:text="'[일반유저] ' + ${member} + '님의 마이페이지 입니다.'"></h4>
</div>

<div sec:authorize="hasAuthority('관리자')">
    <h4 th:text="'[관리자] ' + ${member} + '님의 마이페이지 입니다.'"></h4>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <td>상품명</td>
            <td>가격</td>
            <td>갯수</td>
            <td>총가격</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.itemName}">1</td>
            <td th:text="${sale.price}">이벤트제목</td>
            <td> <input style="width: 100px; text-align: center" type="number" th:value="${sale.count}"> </td>
            <td th:text="${sale.price * sale.count}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>